div.aboutFlex {
  display: flex;
  justify-content: center;

  div.infoBox {
    width: 80vw;

    div.intro {
      div.secondTitle {
        display: flex;
      }
    }
  }
}

summary {
  display: flex;
  justify-content: space-between;

  p {
    padding-right: 1rem;
  }
}

h1 {
  padding: 10px;
  font-family: "ToronoGlitchSans H2";
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  font-size: 2.5rem;
  color: #fff;
}

h2 {
  padding: 10px;
  font-style: normal;
  font-weight: 900;
}

p {
  left: 15%;
  text-align: left;
  font-weight: bold;
}

div .detail {
  width: 70%;
  left: 25%;
  font-weight: bold;
}

div .detail > .summary {
  font-size: 1rem;
  height: 2rem;
  padding: 1% 1%;
  text-align: left;
  margin: 10px 0;
  cursor: pointer;
  list-style: none;
  background-color: #fff;
  color: hsl(0, 0%, 0%);
  width: 70%;
  border-radius: 30px;
  border: 2px solid #000;
  transition: all 0.3s ease-out;

  img {
    transition: all 0.3s ease-out;
  }
}

div .detail:hover {
  .summary {
    background-color: pink;
    padding: 1% 1%;
    margin-bottom: 0;
    height: 3rem;
    font-size: 1.3rem;
    width: 95%;
    right: 12%;
    text-align: center;
    position: relative;
    transition: 0.3s ease-out;
  }

  .hidden {
    padding: 5px;
    opacity: 1;
    width: 120%;
    height: auto;
    float: none;
    border: 5px groove;
    border-color: white pink;
    border-radius: 10px;
    border-top: 0;
    transform: rotateX(-1deg);
    transition: ease-in-out 1s;
  }

  img {
    width: 3rem;
    height: 1.8rem;
    transform: rotateX(-360deg) rotateY(-180deg) rotateZ(-180deg);
    transition-duration: 0.7s;
  }

  img.summary {
    width: 2rem;
    height: 2rem;
    transform: rotate(-90deg) rotateY(-360deg);
    transition-duration: 0.7s;
    right: 5%;
  }
}

img.secondTitle {
  width: 2.5rem;
  height: 2rem;
}

img.summaryHead {
  width: 2rem;
  height: 1.2rem;
}

img.summary {
  width: 1.2rem;
  height: 1.2rem;
}

div.secondTitle {
  text-align: left;
  left: 15%;
  background-color: #fff;
  color: #000;

  border-radius: 5px;
  border: 2px solid #000;
}

div.hidden {
  opacity: 0;
  overflow: hidden;
  padding: 10px;
  border-top: 0px;
  width: 5rem;
  height: 0.1rem;
  padding: 0;
  border: 0;
  right: 25%;
  background: linear-gradient(
    to bottom right,
    hsla(0, 0%, 100%, 0.452),
    rgba(109, 113, 113, 0.226),
    80%,
    rgba(44, 38, 44, 0.117)
  );
  color: #000;
}

div.infoBox {
  border: 5px solid #fff;
  border-radius: 7px;
  background-color: #b7b7b71e;
}

div.intro {
  text-align: center;
  color: #fff;
}

div.display {
  display: none;
}
