h1 {
  padding: 10px;
  font-family: "ToronoGlitchSans H2";
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  font-size: 2.5rem;
  color: #fff;
}

h2 {
  padding: 10px;
  font-style: normal;
  font-weight: 900;
}

div.infoBox {
  border: 12px solid #fff;
  border-radius: 7px;
  background-color: #b7b7b71e;
}

div.intro {
  text-align: center;
  color: #fff;
}
