footer {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  h1 {
    padding: 10px;
    font-family: "ToronoGlitchSans H2";
    position: absolute;
    color: #000;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }
  #email {
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    top: 4rem;
    left: 0;
    right: 0;
  }
  #tel {
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    top: 7rem;
    left: 0;
    right: 0;
  }
  //Images
  #picture {
    justify-content: space-around;
    display: flex;
  }
  .island {
    position: relative;
    bottom: 0;
    display: flex;
  }
  #left {
    top: 5rem;
    max-width: 10rem;
    height: 3rem;
  }
  #left2 {
    top: 6rem;
    max-width: 4rem;
    height: 3rem;
  }
  #middle {
    max-width: 20rem;
    margin-right: 2.5rem;
    margin-left: 1rem;
    right: 0;
    left: 0;
    margin-top: 2rem;
  }
  #right2 {
    top: 5rem;
    max-width: 4rem;
    height: 3rem;
  }
  #right {
    top: 7rem;
    max-width: 4rem;
    height: 3rem;
  }

  p {
    padding: 5px;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
  }

  p.Copyright {
    font-size: 1rem;
    line-height: 1rem;
  }

  div.icon {
    display: flex;
    justify-content: center;
    position: relative;

    a {
      img {
        width: 3rem;
        padding-right: 1rem;
      }
    }
  }
}
