footer {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: relative;




  div#footerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;

    div#text {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25vw;
      top: 2rem;

      h1 {
        font-size: 2rem;
        font-family: "ToronoGlitchSans H2";
        color: #000;
        z-index: 1;
      }

      #bar {
        margin-top: 0.25rem;
        border: 1px #000 dashed;
      }

      #email {
        font-size: 1.25rem;
        z-index: 1;
      }

      #tel {
        font-size: 1.25rem;
        z-index: 1;

      }
    }

  }

  //Images
  #picture {
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .island {
    position: relative;
    bottom: 0;
    display: flex;
    margin: 0 20px;
  }

  #left {
    top: 5rem;
    max-width: 10rem;
    height: 3rem;
  }

  #left2 {
    top: 6rem;
    max-width: 4rem;
    height: 3rem;
  }

  #middle {
    max-width: 20rem;
    margin-right: 2.5rem;
    margin-left: 1rem;
    height: 150px;
    right: 0;
    left: 0;
    margin-top: 2rem;
  }

  #right2 {
    top: 5rem;
    max-width: 4rem;
    height: 3rem;
  }

  #right {
    top: 7rem;
    max-width: 4rem;
    height: 3rem;
  }

  p {
    padding: 5px;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
  }

  p.Copyright {
    font-size: 1rem;
    line-height: 1rem;
  }

  div.icon {
    display: flex;
    justify-content: center;
    position: relative;

    a {
      img {
        width: 3rem;
        padding: 0 0.5rem;
      }
    }
  }
}

@media screen and (max-width:650px) {
  footer {
    div#footerFlex {
      div#text {
        width: 50vw;
      }
    }
  }
}