footer {
  flex-flow: column wrap;
  background-color: #fff;
  width: 100vw;
  height: fit-content;
  margin-top: auto;

  h1 {
    padding: 10px;
    font-family: "ToronoGlitchSans H2";
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    font-size: 5vw;
    position: relative;
    left: 0;
    top: -22%;
    color: #000;
  }
  #email {
    font-size: 3vw;
    position: relative;
    left: 0;
    top: -22%;
  }
  #tel {
    font-size: 3vw;
    position: relative;
    left: 0;
    top: -22%;
  }
  #copyright {
    font-size: 2vw;
    position: relative;
    left: 0;
    top: -20%;
  }
  .island {
    position: relative;
    bottom: 0;
  }
  #left {
    max-width: 10vw;
    height: 5vw;
    left: 10%;
    top: 20%;
  }
  #left2 {
    max-width: 5vw;
    left: 17%;
    top: 15%;
  }
  #middle {
    max-width: 40vw;
    left: 17%;
    top: 15%;
  }
  #right2 {
    max-width: 5vw;
    left: 20%;
    top: 15%;
  }
  #right {
    max-width: 7vw;
    left: 28%;
    top: 18%;
  }

  p {
    padding: 5px;
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
  }

  p.Copyright {
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
    line-height: 1rem;
  }

  div.icon {
    display: flex;
    justify-content: center;
    position: relative;
    top: -20%;

    a {
      img {
        width: 10vw;
        padding: 2vw;
      }
    }
  }
}
