div#formPage {
  h1 {
    padding: 10px;
    font-family: "ToronoGlitchSans H2";
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    font-size: 2.5rem;
  }

  h2 {
    padding: 10px;
    font-style: normal;
    font-weight: 900;
  }

  h4 {
    font-weight: bold;
  }

  hr.bar {
    padding: 0px 0px 0px 0px;
    size: "1px";
    width: "1336px";
    left: 3%;
  }

  hr.field {
    padding: 0 0 0 0;
    size: 1px;
    width: 25%;
  }

  div.registerContain {
    color: #fff;
    text-align: center;
    background-color: #0000003b;
  }

  form {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
  }

  fieldset {
    border: 0px;
    margin: 0 10% 0 25%;
  }

  form input[type="text"],
  form input[type="date"],
  input[type="tel"],
  input[type="url"] {
    padding-left: 20px;
    width: 45%;
    left: 0%;
    border: 2px solid #fff;
    border-radius: 15px;
    // background-color: #d9d9d930;
    background: rgba(217, 217, 217, 0.35);
    height: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  form input:focus {
    color: #000;
    color: #f7d967;
    background: radial-gradient(149.95% 387.57% at 54.19% 45.2%,
        #000000 52.6%,
        rgba(255, 255, 255, 0.63) 100%);
    padding: auto;
  }

  form input[type="file"] {
    display: none;
  }

  ::placeholder {
    color: #fff;
  }

  form input:hover {
    border: 3px solid #f2a2f2;
    color: #f7d967;
    background: radial-gradient(149.95% 387.57% at 54.19% 45.2%,
        #000000 52.6%,
        rgba(255, 255, 255, 0.63) 100%);
  }

  input[type="radio"] {
    margin: 0 0 0 20px;
    width: 18px;
    height: 18px;
  }

  select {
    // background-color: #d9d9d930;
    background: rgba(217, 217, 217, 0.35);
    color: #fff;
    height: 2rem;
    padding-left: 10px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bold;
  }

  select>option {
    font-size: 1rem;
    background-color: #414141;
    color: #fff;
  }

  textarea {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(217, 217, 217, 0.35);
    color: #fff;
    border-radius: 7px;
  }

  textarea:hover {
    border: 3px solid #f2a2f2;
  }

  textarea:focus {
    color: #f7d967;
    background: radial-gradient(149.95% 387.57% at 54.19% 45.2%,
        #000000 52.6%,
        rgba(255, 255, 255, 0.63) 100%);
    border: 5px solid #f2a2f2;
  }

  .experience {
    font-size: 0.8rem;
  }

  .self {
    width: 2rem;
    height: 2rem;
    float: left;
  }

  #presentFile {
    display: inline-block;
  }

  .register {
    font-size: 2rem;
    font-weight: bold;
    font-family: "ToronoGlitchSans H2";
    margin-left: 40%;
    padding: 2% 1%;
    border: #fff 3px solid;
    background: rgba(217, 217, 217, 0.35);
    color: #fff;
    border-radius: 20px;
  }

  .register:hover {
    color: #f7d967;
    background: radial-gradient(149.95% 387.57% at 54.19% 45.2%,
        #000000 52.6%,
        rgba(255, 255, 255, 0.63) 100%);
  }

  div .picture {
    background: #0630ff37;
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 10px;
    width: 25%;
    cursor: pointer;
    display: inline-block;
    margin-right: 2%;
  }
}

// **hadle this is I have time
// .genderButton {
//     background-color: #f00;
// }