div.infoFlex {
  display: flex;
  align-items: center;
  justify-content: center;

  div.infoContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-family: "Noto Sans TC", monospace;
    text-align: center;

    h1.title {
      padding: 1rem;
      font-family: "ToronoGlitchSans H2", sans-serif;
      font-size: 2.5rem;
    }

    hr.bar {
      padding: 0px 0px 0px 0px;
      size: "1px";
    }

    p.subTitle {
      padding: 1.5rem;
      font-size: 1.5rem;
      font-weight: bold;
    }

    table.mainInfo {
      font-size: 1.25rem;
      padding: 0.5rem;

      tr.context {
        //   text-align: left;
      }

      tr.context2 {
        margin-top: 1rem;

        a {
          margin-left: 0.5rem;
        }
      }
    }

    table.important {
      width: 80%;
      font-size: 1.25rem;
      padding: 0.5rem;

      tr.contextImport {
        text-align: left;

        a {
          margin-left: 0.75rem;
        }
      }
    }

    button.register {
      text-align: center;
      padding: 10px;
      border: 5px solid #d9d9d9;

      line-height: 72px;
      letter-spacing: 1rem;
      font-size: 2.5rem;
      background: rgba(217, 217, 217, 0.35);
      border-radius: 30px;
      // padding: 0px 0px 50px 0px;
      margin: 2.5rem 0 2rem 0;

      a {
        margin-left: 0.75rem;
        font-family: "ToronoGlitchSans H2";
        text-decoration: none;
        color: #ffffff;
      }
    }

    button:hover {
      color: #f7d967;
      background: radial-gradient(
        149.95% 387.57% at 54.19% 45.2%,
        #000000 52.6%,
        rgba(255, 255, 255, 0.63) 100%
      );

      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
  color: #f1ff27;
}
