nav {
  overflow: hidden;
  background: white;
  position: sticky;
  top: 0;
  z-index: 5;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 450px;
  }

  padding: 1rem 1rem;
  margin: 2rem 0;

  ul {
    display: flex;

    justify-content: flex-end;
    list-style-type: none;

    li {
      padding: 0.5rem;

      a {
        display: flex;
        padding: 1rem;
        background: rgba(183, 183, 183, 0.3);
        color: black;

        font-weight: 800;
        font-size: 1.25rem;
        line-height: 2.5rem;
        border-radius: 18px;
      }

      a:hover {
        background: #000000;
        color: #ffffff;
      }
    }
  }
}

/* The dropdown container */
div.dropdown {
  float: left;
  overflow: hidden;

  button {
    padding: 1rem;
    background: rgba(183, 183, 183, 0.3);

    font-weight: 800;
    font-size: 1.25rem;
    line-height: 2.5rem;
    border-radius: 10px;
    border: none;

    &:hover {
      cursor: pointer;
      background: #000000;
      color: #ffffff;
    }
  }

  &:hover {
    display: block;
  }
}

.dropdownContent {
  //display: none;
  position: absolute;
  background: #000000;

  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);

  a {
    float: none;
    display: block;
    text-align: center;
  }
}

// 目前所在的網頁
.active {
  background: #000000;
  color: #ffffff;
}

@media screen and (max-width: 1220px) {
  nav {
    justify-content: center;
  }
}

@media screen and (max-width: 1220px) {
  nav {
    justify-content: center;
  }
}
