* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}


body {
  z-index: 1;
  background-image: (url(image/Blue_background.png));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

nav {
  background: white;
  height: 10%;
  position: sticky;
  top: 0;
  z-index: 5;

  img {
    height: 5vw;
  }

  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  flex: 5 1 400px;

  ul {
    display: flex;

    list-style-type: none;
    justify-content: space-around;

    li {
      padding: 10px;

      a {
        display: flex;
        padding: 1rem;
        //
        background: rgba(183, 183, 183, 0.3);
        color: black;
        font-family: "Noto Sans TC";
        font-style: normal;
        font-weight: 800;
        font-size: 2rem;
        line-height: 2.5rem;
        border-radius: 18px;
      }

      a:hover {
        background: #000000;
        color: #ffffff;
      }
    }
  }
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3091ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c1794;
}