* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  z-index: 1;
  background-image: url(image/Blue_background.png);
}

@font-face {
  font-family: ToronoGlitchSans H1;
  src: local("ToronoGlitchSans H1"), url(./font/torono-glitch-sans/Torono_Glitch_SansH1.otf);
}
@font-face {
  font-family: ToronoGlitchSans H2;
  src: local("ToronoGlitchSans H2"), url(./font/torono-glitch-sans/Torono_Glitch_SansH2.otf);
}
@font-face {
  font-family: ToronoGlitchSans H3;
  src: local("ToronoGlitchSans H3"), url(./font/torono-glitch-sans/Torono_Glitch_SansH3.otf);
}
@font-face {
  font-family: ToronoGlitchSans H4;
  src: local("ToronoGlitchSans H4"), url(./font/torono-glitch-sans/Torono_Glitch_SansH4.otf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
nav div a img {
  flex: 1 1 450px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
nav ul li {
  padding: 0.5rem;
}
nav ul li a {
  display: flex;
  padding: 1rem;
  background: rgba(183, 183, 183, 0.3);
  color: black;
  font-family: "Noto Sans TC";
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 2.5rem;
  border-radius: 18px;
}
nav ul li a:hover {
  background: #000000;
  color: #ffffff;
}

.active {
  background: #000000;
  color: #ffffff;
}

@media screen and (max-width: 1220px) {
  nav {
    justify-content: center;
  }
}
@media screen and (max-width: 1220px) {
  nav {
    justify-content: center;
  }
}
@font-face {
  font-family: ToronoGlitchSans H1;
  src: local("ToronoGlitchSans H1"), url(./font/torono-glitch-sans/Torono_Glitch_SansH1.otf);
}
@font-face {
  font-family: ToronoGlitchSans H2;
  src: local("ToronoGlitchSans H2"), url(./font/torono-glitch-sans/Torono_Glitch_SansH2.otf);
}
@font-face {
  font-family: ToronoGlitchSans H3;
  src: local("ToronoGlitchSans H3"), url(./font/torono-glitch-sans/Torono_Glitch_SansH3.otf);
}
@font-face {
  font-family: ToronoGlitchSans H4;
  src: local("ToronoGlitchSans H4"), url(./font/torono-glitch-sans/Torono_Glitch_SansH4.otf);
}
h1 {
  font-size: 2rem;
  text-align: center;
}

div.card {
  display: flex;
}
div.card section.left {
  padding: 1rem;
  width: 45%;
  display: flex;
  align-items: center;
}
div.card section.left div.img_container {
  width: 45vw;
  height: 45vw;
}
div.card section.left div.img_container img {
  width: 45vw;
  height: 45vw;
  transition: all 0.2s;
}
div.card section.left div.img_container img:hover {
  transform: scale(1.1);
}
div.card section.left img {
  padding: 30px;
  width: 100%;
}
div.card section.right {
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
div.card section.right div.words {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
}
div.card section.right div.words h1 {
  font-family: "ToronoGlitchSans H4", sans-serif;
  padding: 5px;
  font-weight: 900;
  letter-spacing: 1rem;
  color: #ffffff;
}
div.card section.right div.words h1 span {
  font-family: "ToronoGlitchSans H4", sans-serif;
  letter-spacing: 0.35rem;
}
div.card section.right div.words h1 span.C {
  color: #f2b24b;
}
div.card section.right div.words h1 span.S {
  color: #d10000;
}
div.card section.right div.words h1 span.I {
  color: #69bfba;
}
div.card section.right div.words h1 span.E {
  color: #edb4cf;
}
div.card section.right div.words p {
  -moz-text-align-last: center;
  text-align-last: center;
  letter-spacing: 3px;
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}
div.card section.right button.register {
  text-align: center;
  padding: 10px;
  border: 5px solid #ffffff;
  color: #ffffff;
  font-family: "ToronoGlitchSans H2";
  line-height: 72px;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 30px;
}
div.card section.right button:hover {
  color: #f7d967;
  background: radial-gradient(
    149.95% 387.57% at 54.19% 45.2%,
    #000000 52.6%,
    rgba(255, 255, 255, 0.63) 100%
  );
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.card section.left {
    order: 2;
    width: -moz-fit-content;
    width: fit-content;
  }
  div.card section.left div.img_container {
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
  }
  div.card section.left div.img_container img {
    width: -moz-fit-content;
    width: fit-content;
    height: 60vh;
  }
  section.right {
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    order: 1;
  }
}
footer {
  background: #ffffff;
  display: flex;
  flex-flow: column wrap;
}
footer h1 {
  padding: 10px;
  font-family: "ToronoGlitchSans H2";
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
  font-size: 2.5rem;
}
footer p {
  padding: 5px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
}
footer p.Copyright {
  margin: 5px;
  padding: 5px;
  font-size: 1rem;
  line-height: 1rem;
}
footer div.icon {
  display: flex;
  justify-content: center;
}
footer div.icon a img {
  width: 100px;
  padding: 25px;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3091ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c1794;
}

div.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Noto Sans TC", monospace;
  text-align: center;
}
div.info h1.title {
  padding: 134px 0px 35px 0px;
  font-family: "ToronoGlitchSans H2", sans-serif;
  font-size: 60px;
}
div.info hr.bar {
  padding: 0px 0px 0px 0px;
  size: "1px";
  width: "1336px";
}
div.info p.subTitle {
  padding: 50px 0px 35px 0px;
  font-size: 50px;
}
div.info table.mainInfor {
  font-size: 35px;
  width: 1090px;
}
div.info table.mainInfor tr.context {
  text-align: left;
}
div.info table.mainInfor tr.context a {
  text-decoration: none;
  color: #ffffff;
}
div.info table.mainInfor tr.context2 a {
  text-decoration: none;
  color: #ffffff;
}
div.info p.contextImport {
  font-size: 35px;
}
div.info table.important {
  width: 1090px;
  font-size: 35px;
}
div.info table.important tr.contextImport {
  text-align: left;
}
div.info table.important tr.contextImport a {
  text-decoration: none;
  color: #ffffff;
}
div.info button.register {
  text-align: center;
  padding: 10px;
  border: 5px solid #d9d9d9;
  color: #ffffff;
  font-family: "ToronoGlitchSans H2";
  line-height: 72px;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 30px;
  margin: 100px 0px 30px 0px;
}
div.info button.register a {
  font-family: "ToronoGlitchSans H2";
  text-decoration: none;
  color: #ffffff;
}
div.info button:hover {
  color: #f7d967;
  background: radial-gradient(
    149.95% 387.57% at 54.19% 45.2%,
    #000000 52.6%,
    rgba(255, 255, 255, 0.63) 100%
  );
  cursor: pointer;
}

div.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Noto Sans TC", monospace;
  text-align: center;
}
div.login h1.title {
  padding: 104px 0px 67px 0px;
  font-family: "ToronoGlitchSans H2", sans-serif;
  font-size: 60px;
}
div.login p.help {
  padding: 0px 0px 30px 0px;
  font-size: 35px;
}
div.login p.help a {
  padding: 0px 100px 0px 100px;
  text-decoration: none;
  color: #ffffff;
}
div.login input.register {
  text-align: left;
  padding: 10px;
  border: 5px solid #d9d9d9;
  color: #ffffff;
  line-height: 72px;
  font-size: 2.5rem;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 30px;
  margin: 0px 0px 20px 0px;
  width: 780px;
  height: 146px;
}
div.login ::-moz-placeholder {
  letter-spacing: 1rem;
  font-family: "ToronoGlitchSans H2";
  color: #ffffff;
}
div.login ::placeholder {
  letter-spacing: 1rem;
  font-family: "ToronoGlitchSans H2";
  color: #ffffff;
}
div.login input:hover {
  color: #f7d967;
  background: radial-gradient(
    149.95% 387.57% at 54.19% 45.2%,
    #000000 52.6%,
    rgba(255, 255, 255, 0.63) 100%
  );
  cursor: pointer;
}
div.login input.button {
  margin: 0px 0px 20px 99px;
}
div.login button.confirm {
  border: 5px solid #d9d9d9;
  color: #ffffff;
  font-family: "ToronoGlitchSans H2";
  line-height: 72px;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 100px;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 30px 0px;
  text-align: center;
  width: 94px;
  height: 94px;
  position: relative;
  right: 110px;
}
div.login button.confirm a {
  font-family: "ToronoGlitchSans H2";
  text-decoration: none;
  color: #ffffff;
}
div.login button.confirm a span.arrow {
  display: block;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  border-top: 10px solid #d9d9d9;
  border-left: 10px solid #d9d9d9;
  transform: rotate(135deg);
}
div.login button.confirm a span.arrow::after {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  background-color: #d9d9d9;
  transform: rotate(-45deg) translate(7px, 0px);
  left: 0;
  top: 0;
}
div.login button:hover {
  color: #f7d967;
  background: radial-gradient(
    149.95% 387.57% at 54.19% 45.2%,
    #000000 52.6%,
    rgba(255, 255, 255, 0.63) 100%
  );
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

@font-face {
  font-family: ToronoGlitchSans H1;
  src: local("ToronoGlitchSans H1"), url(./font/torono-glitch-sans/Torono_Glitch_SansH1.otf);
}
@font-face {
  font-family: ToronoGlitchSans H2;
  src: local("ToronoGlitchSans H2"), url(./font/torono-glitch-sans/Torono_Glitch_SansH2.otf);
}
@font-face {
  font-family: ToronoGlitchSans H4;
  src: local("ToronoGlitchSans H4"), url(./font/torono-glitch-sans/Torono_Glitch_SansH4.otf);
}
div.regist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Noto Sans TC", monospace;
  text-align: center;
}
div.regist h1.title {
  padding: 104px 0px 67px 0px;
  font-family: "ToronoGlitchSans H2", sans-serif;
  font-size: 60px;
}
div.regist input.register {
  text-align: left;
  padding: 10px;
  border: 5px solid #d9d9d9;
  color: #ffffff;
  line-height: 72px;
  font-size: 2.5rem;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 30px;
  margin: 0px 0px 20px 0px;
  width: 780px;
  height: 146px;
}
div.regist ::-moz-placeholder {
  letter-spacing: 1rem;
  font-family: "ToronoGlitchSans H2";
  color: #ffffff;
}
div.regist ::placeholder {
  letter-spacing: 1rem;
  font-family: "ToronoGlitchSans H2";
  color: #ffffff;
}
div.regist input:hover {
  color: #f7d967;
  background: radial-gradient(
    149.95% 387.57% at 54.19% 45.2%,
    #000000 52.6%,
    rgba(255, 255, 255, 0.63) 100%
  );
  cursor: pointer;
}
div.regist input.button {
  margin: 0px 0px 20px 99px;
}
div.regist button.confirm {
  border: 5px solid #d9d9d9;
  color: #ffffff;
  font-family: "ToronoGlitchSans H2";
  line-height: 72px;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 100px;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 30px 0px;
  text-align: center;
  width: 94px;
  height: 94px;
  position: relative;
  right: 110px;
}
div.regist button.confirm a {
  font-family: "ToronoGlitchSans H2";
  text-decoration: none;
  color: #ffffff;
}
div.regist button.confirm a span.arrow {
  display: block;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  border-top: 10px solid #d9d9d9;
  border-left: 10px solid #d9d9d9;
  transform: rotate(135deg);
}
div.regist button.confirm a span.arrow::after {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  background-color: #d9d9d9;
  transform: rotate(-45deg) translate(7px, 0px);
  left: 0;
  top: 0;
}
div.regist button:hover {
  color: #f7d967;
  background: radial-gradient(
    149.95% 387.57% at 54.19% 45.2%,
    #000000 52.6%,
    rgba(255, 255, 255, 0.63) 100%
  );
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

@font-face {
  font-family: ToronoGlitchSans H1;
  src: local("ToronoGlitchSans H1"), url(./font/torono-glitch-sans/Torono_Glitch_SansH1.otf);
}
@font-face {
  font-family: ToronoGlitchSans H2;
  src: local("ToronoGlitchSans H2"), url(./font/torono-glitch-sans/Torono_Glitch_SansH2.otf);
}
@font-face {
  font-family: ToronoGlitchSans H4;
  src: local("ToronoGlitchSans H4"), url(./font/torono-glitch-sans/Torono_Glitch_SansH4.otf);
}
div.forget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Noto Sans TC", monospace;
  text-align: center;
}
div.forget h1.title {
  padding: 104px 0px 67px 0px;
  font-family: "ToronoGlitchSans H2", sans-serif;
  font-size: 60px;
}
div.forget p.help {
  padding: 0px 0px 30px 0px;
  font-size: 35px;
}
div.forget p.help a {
  padding: 0px 100px 0px 100px;
  text-decoration: none;
  color: #ffffff;
}
div.forget input.register {
  text-align: left;
  padding: 10px;
  border: 5px solid #d9d9d9;
  color: #ffffff;
  line-height: 72px;
  font-size: 2.5rem;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 30px;
  margin: 0px 0px 20px 0px;
  width: 780px;
  height: 146px;
}
div.forget ::-moz-placeholder {
  letter-spacing: 1rem;
  font-family: "ToronoGlitchSans H2";
  color: #ffffff;
}
div.forget ::placeholder {
  letter-spacing: 1rem;
  font-family: "ToronoGlitchSans H2";
  color: #ffffff;
}
div.forget input:hover {
  color: #f7d967;
  background: radial-gradient(
    149.95% 387.57% at 54.19% 45.2%,
    #000000 52.6%,
    rgba(255, 255, 255, 0.63) 100%
  );
  cursor: pointer;
}
div.forget input.button {
  margin: 0px 0px 20px 99px;
}
div.forget button.send {
  border: 5px solid #d9d9d9;
  color: #ffffff;
  font-family: "ToronoGlitchSans H2";
  line-height: 72px;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 100px;
  padding: 0px 30px 0px 30px;
  margin: 100px 0px 30px 0px;
  text-align: center;
  width: 94px;
  height: 94px;
  position: relative;
  right: 110px;
}
div.forget button.send a {
  font-family: "ToronoGlitchSans H2";
  text-decoration: none;
  color: #ffffff;
}
div.forget button.send a span.arrow {
  display: block;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  border-top: 10px solid #d9d9d9;
  border-left: 10px solid #d9d9d9;
  transform: rotate(135deg);
}
div.forget button.send a span.arrow::after {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  background-color: #d9d9d9;
  transform: rotate(-45deg) translate(7px, 0px);
  left: 0;
  top: 0;
}
div.forget button.confirm {
  border: 5px solid #d9d9d9;
  color: #ffffff;
  font-family: "ToronoGlitchSans H2";
  line-height: 72px;
  letter-spacing: 1rem;
  font-size: 2.5rem;
  background: rgba(217, 217, 217, 0.35);
  border-radius: 100px;
  padding: 0px 30px 0px 30px;
  margin: 0px 0px 30px 0px;
  text-align: center;
  width: 94px;
  height: 94px;
  position: relative;
  right: 110px;
}
div.forget button.confirm a {
  font-family: "ToronoGlitchSans H2";
  text-decoration: none;
  color: #ffffff;
}
div.forget button.confirm a span.arrow {
  display: block;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  border-top: 10px solid #d9d9d9;
  border-left: 10px solid #d9d9d9;
  transform: rotate(135deg);
}
div.forget button.confirm a span.arrow::after {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  background-color: #d9d9d9;
  transform: rotate(-45deg) translate(7px, 0px);
  left: 0;
  top: 0;
}
div.forget button:hover {
  color: #f7d967;
  background: radial-gradient(
    149.95% 387.57% at 54.19% 45.2%,
    #000000 52.6%,
    rgba(255, 255, 255, 0.63) 100%
  );
  cursor: pointer;
} /*# sourceMappingURL=style.css.map */
