* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  z-index: 1;
  background-image: (url(image/Blue_background.png));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

@import "./nav";
@import "./footer";
@import "./scrollbar";
